/* Styles apply to the HTML tags found in person.component.html */
p {
    border: 1px solid black;
    width: 70vw;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    user-select: none;
    text-align: center;   
}

button {
    margin-top: 0.5em;
}